.container {
    margin-top: 50px;
    width: 650px;
    box-shadow: 2px 2px 12px  #B4B5B6;
    font-family: 'PT Sans', sans-serif;
    border-radius: 5px;
    color: #003854;
}
/* .col-2,
.col-5,
.col-1 {
    border: 1px solid black;
} */
.row {
    border: 1px solid silver;
    padding-top: 15px;
    padding-bottom: 15px;
}

/** Header **/
.header {
    padding-left: 10px;
}

.price-header {
    text-align: center;
}


/*****************
***** PRODUCT ****
*****************/

/*** IMAGE ***/
img {
    width: 60px;
    padding: 10px;
}

.image{
    width: 15px !important;
    padding: 0;
}

/*** INPUT STYLE ***/
.row .input {
    padding: 0;
    border: none; 
    text-align: center;
    margin: 0;
    width: 95px;
}
.plus,
.minus {
    height: 30px;
    width: 30px;
    padding: 0;
    padding-top: 5px;
    vertical-align: middle;
    border: 1px solid #789FB3;
    color: #789FB3;   
}

.count {
    width: 30px;
    text-align: center;
    border: 1px solid #789FB3;
    color: #789FB3;
}

/*** PRICE ***/
.sum {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}



/***** CLOSING BUTTON ****/

.glyphicon-remove {
    padding: 0;
    color: #789FB3;
}

.glyphicon-remove:hover {
    font-size: 20px;
    text-shadow: 1px 1px 1px silver;
}

/**** FINAL ROW ****/
.total-items {
    width: 80px ;
}
.sum-total {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    
}
.pad-right {
    padding-right: 20px;
}

/*** COL SIZE ***/
.col-1 {
    width: 5%;
}
.col-2 {
    width: 10%;
    padding: 0;
}

.col-3 {
    width: 10%;
    padding: 0;
}

.col-5 {
    width: 50%;
}